Source: loopdub
Section: sound
Priority: extra
Maintainer: Stephen Sinclair <radarsat1@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libsamplerate0-dev, libjack-dev, libsdl1.2-dev, libsndfile1-dev, libasound-dev, pandoc
Standards-Version: 3.8.3
Homepage: http://loopdub.sf.net

Package: loopdub
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libsamplerate0, libjack0, libsdl1.2debian-alsa, libsndfile1, libasound2
Description: Software for live audio loop manipulation.
 LoopDub is software intended for musical performance based on live
 loop manipulation.
